/.idea
**/.DS_Store

# EX00
/ex00/objs/*.o
/ex00/zombie

# EX01
/ex01/objs/*.o
/ex01/zombieHorde

# EX02
/ex02/objs/*.o
/ex02/brain

# EX03
/ex03/objs/*.o
/ex03/violence

# EX04
/ex04/objs/*.o
/ex04/sed

# EX05
/ex05/objs/*.o
/ex05/harl